# unconventional js
/packages/*/blueprints/*/files/
/packages/*/vendor/

# compiled output
/packages/*/dist/
/packages/*/tmp/

# dependencies
/bower_components/
/node_modules/
/packages/*/bower_components/
/packages/*/node_modules/

# misc
/packages/*/coverage/
!.*

# ember-try
/packages/*/.node_modules.ember-try/
/packages/*/bower.json.ember-try
/packages/*/package.json.ember-try
