# unconventional js
/packages/**/blueprints/*/files/
/packages/**/vendor/

/site/blueprints/*/files/
/site/vendor/

# compiled output
/packages/**/dist/
/packages/**/tmp/

/site/dist/
/site/tmp/

# dependencies
/bower_components/
/node_modules/
/packages/**/bower_components/
/packages/**/node_modules/

/site/bower_components/
/site/node_modules/



# misc
/packages/**/coverage/
/site/coverage/
!.*

# ember-try
/packages/**/.node_modules.ember-try/
/packages/**/bower.json.ember-try
/packages/**/package.json.ember-try

/packages/*/core/lib/
/packages/*/ember/lib/
