/* Source: https://github.com/tailwindcss/docs/blob/master/source/_assets/less/markdown.less */

.markdown,
.docfy-demo__description__content {
  @apply leading-relaxed;

  > *:first-child {
    @apply mt-0;
  }

  > * + * {
    @apply mt-6;
  }

  > ul > * + *,
  > ol > * + * {
    @apply mt-4;
  }

  > hr {
    @apply my-16 border-t-0 border-b-2 border-l-0 border-r-0;
  }

  > h2::before,
  > h3::before {
    display: block;
    height: 3rem;
    margin-top: -3rem;
    visibility: hidden;
    content: '';
  }

  > a,
  > p a,
  > ul li a,
  > ol li a {
    @apply font-medium underline;
    code {
      @apply underline;
    }
  }

  > p strong,
  > ul strong {
    @apply font-semibold;
  }

  > p code,
  > ul li *:not(pre) code,
  > ul li > code,
  > ol li *:not(pre) code,
  > ol li > code,
  > table td code {
    @apply inline-block;
    @apply rounded-sm;
    @apply text-base;
    @apply p-1;
    @apply leading-none;
    @apply whitespace-no-wrap;
    @apply font-mono;
    @apply align-baseline;
    @apply font-normal;
  }

  > p strong code,
  > ul li strong code,
  > ol li strong code {
    @apply font-semibold;
  }

  > pre,
  > ul li pre,
  > ol li pre {
    @apply flex;
    @apply p-0;
    @apply text-sm leading-normal;
    @apply font-mono;
    @apply font-normal;
    @apply scrolling-touch;
    @apply subpixel-antialiased;
    @apply -mx-4;

    @screen lg {
      @apply mx-0;
      @apply rounded-md;
    }
  }

  > pre code,
  > ul li pre code,
  > ol li pre code {
    @apply overflow-x-scroll;
    @apply p-4;
  }

  > blockquote,
  > blockquote blockquote {
    @apply p-4 my-4;
    @apply rounded-sm;
    @apply text-sm italic;
    @apply border-l-4;
  }

  > blockquote blockquote {
    @apply mt-4;
  }

  > h1 {
    @apply mb-1;
    @apply leading-none;
    @apply tracking-tight;
    @apply font-medium;
    @apply text-4xl;
  }

  > h2 {
    @apply mt-16;
    @apply mb-4;
    @apply leading-none;
    @apply tracking-tight;
    @apply font-normal;
    @apply text-3xl;
  }

  > h2 + h3 {
    @apply mt-6;
  }

  > h3 {
    @apply mt-12 -mb-3;
    @apply leading-tight;
    @apply font-medium;
    @apply text-2xl;
  }

  > h4 {
    @apply mt-12;
    @apply mb-0;
    @apply leading-snug;
    @apply font-medium;
    @apply text-xl;
  }

  > h1 + p {
    @apply mt-8;
  }

  > h1 > code,
  > h2 > code,
  > h3 > code,
  > h4 > code {
    @apply font-mono;
  }

  > h3 > code {
    @apply px-1 text-lg;
  }

  > h4 > code {
    @apply px-1 text-base;
  }

  > p {
    @apply text-lg;
    @apply leading-relaxed;
    @apply font-light;
  }

  > p,
  > ul li p,
  > ol li p,
  > ol li p + pre,
  > blockquote > p:not(:first-child) {
    @apply mt-6;
  }

  > ul:not(.list-none) {
    @apply pl-0 list-none;
    li {
      @apply relative pl-5;
      &::before {
        @apply absolute left-0 inline-block mr-3;
        content: '\2022';
      }
    }
  }

  > ol {
    @apply list-none;
    counter-reset: item;
    > li {
      @apply relative pl-10;
    }
    > li::before {
      @apply absolute top-0 left-0 mt-px;
      @apply flex items-center justify-center;
      @apply w-6 h-6 rounded-full;
      @apply text-xs font-bold;
      content: counter(item);
      counter-increment: item;
    }
  }

  > table {
    @apply w-full text-left;
    th {
      @apply p-2 text-sm font-semibold;
    }
    td {
      @apply p-2 text-sm border-t;
    }
  }
}
