/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

/* purgecss start ignore */
@import './markdown/structure.css';
@import './markdown/light.css';
@import './markdown/dark.css';
@import './highlight.css';
@import './docfy-demo.css';
/* purgecss end ignore */
