/* purgecss start ignore */
@import './inter-font.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

/* purgecss start ignore */
@import './markdown/structure.css';
@import './markdown/light.css';
@import './markdown/dark.css';
@import './highlight.css';
@import './docfy-demo.css';
/* purgecss end ignore */

@screen md {
  .angled {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8rem), 0 100%);
  }
}

.bg-dot-lg {
  background: url(/assets/images/dot-large.svg);
}
.bg-dot-brighter-lg {
  background: url(/assets/images/dot-large-brighter.svg);
}
