/* Source: https://github.com/tailwindcss/docs/blob/master/source/_assets/less/markdown.less */

.markdown {
  @apply text-gray-700;
  @apply leading-relaxed;

  > *:first-child {
    @apply mt-0;
  }

  > * + * {
    @apply mt-6;
  }

  > ul > * + *,
  > ol > * + * {
    @apply mt-4;
  }

  > hr {
    @apply my-16 border-t-0 border-b-2 border-l-0 border-r-0 border-gray-200;
  }

  > h2::before,
  > h3::before {
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
    content: '';
  }

  > a,
  > p a,
  > ul li a,
  > ol li a {
    @apply font-medium text-blue-500 underline;
    &:hover {
      @apply text-blue-700;
    }
    strong {
      @apply text-blue-500;
    }
    code {
      @apply text-blue-500 underline;
    }
  }

  > p strong,
  > ul strong {
    @apply font-semibold;
    @apply text-gray-800;
  }

  > p strong,
  > ul strong {
    @apply font-semibold;
    @apply text-gray-800;
  }

  > p code,
  > ul li *:not(pre) code,
  > ul li > code,
  > ol li *:not(pre) code,
  > ol li > code {
    @apply inline-block;
    @apply bg-gray-100;
    @apply rounded-sm;
    @apply text-sm;
    @apply px-1;
    @apply leading-none;
    @apply whitespace-no-wrap;
    @apply text-blue-600;
    @apply font-mono;
    @apply align-baseline;
    @apply font-normal;
  }

  > p strong code,
  > ul li strong code,
  > ol li strong code {
    @apply font-semibold;
  }

  > pre,
  > ul li pre,
  > ol li pre {
    @apply flex p-0 text-gray-200 bg-gray-800;
    @apply text-sm leading-normal;
    @apply font-mono;
    @apply rounded-lg;
    @apply font-normal;
    @apply scrolling-touch;
  }

  > pre code,
  > ul li pre code,
  > ol li pre code {
    @apply p-4;
  }

  > blockquote,
  > blockquote blockquote {
    @apply p-4 mx-2 my-4;
    @apply text-sm italic;
    @apply bg-gray-100;
    @apply border-l-4 border-gray-400;
  }

  > blockquote blockquote {
    @apply mt-4;
  }

  > h1 {
    @apply mb-1;
    @apply leading-none;
    @apply text-gray-900;
    @apply font-medium;
    @apply text-3xl;
  }

  > h2 {
    @apply mt-16;
    @apply mb-4;
    @apply text-gray-900;
    @apply leading-none;
    @apply font-normal;
    @apply text-2xl;
  }

  > h2 + h3 {
    @apply mt-6;
  }

  > h3 {
    @apply mt-12 -mb-3;
    @apply text-gray-900;
    @apply leading-tight;
    @apply font-medium;
    @apply text-xl;
  }

  > h4 {
    @apply mt-12;
    @apply mb-0;
    @apply text-gray-900;
    @apply leading-snug;
    @apply font-medium;
    @apply text-lg;
  }

  > h1 + p {
    @apply mt-8;
  }

  > h1 > code,
  > h2 > code,
  > h3 > code,
  > h4 > code {
    @apply text-blue-600;
    @apply font-mono;
  }

  > h3 > code {
    @apply px-1 text-lg bg-gray-100;
  }

  > h4 > code {
    @apply px-1 text-base bg-gray-100;
  }

  > p {
    @apply text-base;
  }

  > p,
  > ul li p,
  > ol li p,
  > blockquote > p:not(:first-child) {
    @apply mt-6;
  }

  > ul:not(.list-none) {
    @apply pl-0 list-none;
    li {
      @apply relative pl-5;
      &::before {
        @apply absolute left-0 inline-block mr-3 text-gray-400;
        content: '\2022';
      }
    }
  }

  > ol {
    @apply list-none;
    counter-reset: item;
    > li {
      @apply relative pl-10;
    }
    > li::before {
      @apply absolute top-0 left-0 mt-px;
      @apply flex items-center justify-center;
      @apply w-6 h-6 bg-gray-300 rounded-full;
      @apply text-xs font-bold text-gray-700;
      content: counter(item);
      counter-increment: item;
    }
  }

  > table {
    @apply w-full text-left;
    th {
      @apply p-2 text-sm font-semibold text-gray-700 bg-gray-100;
    }
    td {
      @apply p-2 text-sm border-t border-gray-200;
      code {
        @apply px-1 font-mono text-xs text-purple-700 align-baseline bg-gray-100;
      }
      &:first-child {
        @apply border-gray-300;
      }
    }
  }
}
